* {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  width: 1114px;
  height: 559px;
  margin: 0 164px 112px 164px;
  font-size: 16px;
}

.container {
  display: flex;
  padding-top: 120px;
}

.infoComponent {
  margin-bottom: 121px;
  margin-right: 165px;
  width: 540px;
  min-height: 475px;
}
.infoForm {
  background-color: #fff;
  border-radius: 10px;
  padding-top: 41px;
  padding-bottom: 44px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 1px rgba(0, 0, 0, 0.2);
}
.data {
  height: 57px;
  width: 461px;
  border-radius: 5px;
  margin-bottom: 21px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 600;
  outline-color: hsl(249, 10%, 26%);
  padding-left: 33px;
}

.ofert {
  margin-bottom: 24px;
  background-color: hsl(248, 32%, 49%);
  color: #fff;
  height: 60px;
  width: 540px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 7px 1px rgba(0, 0, 0, 0.2);
}

.ofert span {
  font-weight: bold;
  margin-right: 5px;
}

.submitInfo {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  height: 52px;
  width: 484px;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.2) inset;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}

.message {
  text-align: center;
  color: hsl(246, 25%, 77%);
  font-size: 0.7rem;
}

.textComponent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 595px;
  width: 495px;
  /* padding-right: 77px; */
}

.title {
  margin: 0;
  font-size: 2.1rem;
  line-height: 1;
}

.info {
  font-size: 0.75rem;
}

.message__services {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
